/bin/*
/lib/*
/cfg/*
/tmp/*
/doc/*
!/doc/bmxstyle.css
/docs/html
/src/createrelease/BlitzMax/*
*.x86.[soai]
!mod/brl.mod/blitz.mod/blitz_ex.*.s
!mod/brl.mod/blitz.mod/blitz_ftoi.*.s
!mod/brl.mod/blitz.mod/blitz_gc.*.s
*.bak
MaxIDE.exe
/mingw/*
/mod/bah.mod/*
/**/.bmx/